[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
scipy = "*"
yfinance = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
